nav {
    background-color: darkblue;
    padding: .4rem;
    display: flex;
    justify-content: space-around;
    -webkit-box-shadow: 0px 7px 7px -1px rgba(0,0,0,0.12); 
    box-shadow: 0px 7px 7px -1px rgba(0,0,0,0.12);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9;
}
img{
    display: block;
    width: 100px;
}
ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    margin: 0;
    padding: 0;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    transition: color .3s;
}
a:hover{
    color: blue;
    transition: color .3s;
}