
<app-navbar></app-navbar>
<div>
   <h1>Bienvenue sur le site de l'équipe de France !</h1>
   <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum, obcaecati, ad autem quae necessitatibus cupiditate hic inventore suscipit quod facilis ipsam, totam vitae iusto. Consectetur dicta quaerat debitis maxime explicabo!
   Molestiae voluptatem modi laborum reprehenderit inventore eos recusandae, ipsam quo, corrupti nobis nemo facilis assumenda nam fugiat dicta nostrum repellendus nulla dolor perspiciatis? Perferendis labore suscipit earum maiores deleniti ab?</p> 
</div>
